<template>
  <div>
    page2
    <button @click="toPage1">
      page1
    </button>
  </div>
</template>

<script>
  export default {
    methods: {
      toPage1() {
        this.$router.push({ name: 'Page1' })
      }
    }
  }
</script>