<template>
  <div>
    page2
    <b-button>Click Me</b-button>

    <hiaTon :text="text" :label="label" @methodsName="methodsName"/>
  </div>
</template>

<script>
  import hiaTon from '../components/cards'
  export default {
    components: {
      hiaTon
    },
    data() {
      return {
        text: 'ต้นตี',
        label: 'แม่',
        num: 2,
        isActive: false,
        menus: [
          {
            text: 'menu1'
          },
          {
            text: 'menu2'
          },
          {
            text: 'menu3'
          },
          {
            text: 'menu4'
          }
        ]
      }
    },
    computed: {
    },
    methods: {
      toPage2() {
        this.$router.push({ path: '/page2' })
      },
      alertHello() {
        alert('hello');
      },
      methodsName(value) {
        console.log(value)
      }
    },
    beforeCreate() {

    },
    created(){

    },
    beforeMount() {
    },
    mounted() {

    }
  }
</script>