<template>
  <div>
    <div>
      {{ text }}, {{ label }}
    </div>

    <button @click="confirm">ok</button>
  </div>
</template>

<script>
  export default {
    props: [
      'text',
      'label'
    ],
    methods: {
      confirm() {
        this.$emit('methodsName', '5555')
      }
    },
    data() {
      return
    },
    computed: {

    },
    beforeMount() {
      
    }
  }
</script>